/* Reinicio */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Fondo */

body{

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

    background:#050816;

    overflow:hidden;

    font-family:Arial, Helvetica, sans-serif;

}

/* Cuadrícula */

body::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    linear-gradient(rgba(0,255,255,.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,255,255,.08) 1px, transparent 1px);

    background-size:40px 40px;

}

/* Tamaño del SVG */

svg{

    width:90%;
    max-width:1200px;

    z-index:2;

}

/* Texto */

text{

    font-size:95px;

    font-weight:900;

    letter-spacing:4px;

}

/* Interior */

.fill{

    fill:#061322;

}

/* Brillo */

.glow{

    fill:none;

    stroke:white;

    stroke-width:12;

    opacity:.25;

    filter:url(#glow);

}

/* Borde */

.stroke{

    fill:none;

    stroke:url(#grad);

    stroke-width:4;

    stroke-dasharray:180 35;

    animation:borderMove 3s linear infinite;

    filter:url(#glow);

}

/* Animación */

@keyframes borderMove{

    from{

        stroke-dashoffset:0;

    }

    to{

        stroke-dashoffset:-215;

    }

}