* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: sans-serif;
}


/*----- NAVBAR -----*/

.navbar {
    height: fit-content;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #999;
    align-items: center;
}

.logo {
    max-width: 40dvw;
    height: 10dvh;
    align-self: top;
}


.search-box{
    width: 500px;
    max-width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 0 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    align-self: center;
    margin: 5px auto;
}

.search-box input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-box i{
    color: #666;
    font-size: 18px;
    cursor: pointer;
    align-self: center;
}

.search-box i:hover{
    color: #2563eb;
}


/*----- NAVBAR LOGO -----*/

svg{
    width: 40%;
    max-width: 400px;
    z-index: 2;
}

text{
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 4px;
}

/* Relleno */

.fill{
    fill:#061322;
}

/* Brillo */

.glow{
    fill:none;
    stroke:#00e5ff;
    stroke-width:10;
    opacity:.15;
    filter:url(#glow);
}

/* Contorno animado */

.stroke{

    fill:none;

    stroke:url(#grad);

    stroke-width:3;

    stroke-dasharray:160 40;

    animation:borderMove 4s linear infinite;

    filter:url(#glow);
}

/* Animación */

@keyframes borderMove{

    from{
        stroke-dashoffset:0;
    }

    to{
        stroke-dashoffset:-200;
    }

}

/* Adaptacion a celular*/

@media screen and (max-width: 500px){
    svg{
        width: 70%;
        max-width: 500px;
    }

    text{
        font-size: 100px;
        font-weight: 900;
    }
}