* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --color-principal: rgb(22, 29, 165);
    --bg-color: #000;
    --navbar-color: #444;
    --text-color: #999;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* ----- NAVBAR -----*/

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--navbar-color);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    width: 40px;
}

.navbar-link {
    width: 40px;
    margin: auto;
    text-decoration: none;
    color: var(--text-color);
}


/* ----- HEADER -----*/

.inicio {
    position: relative;
    display: inline-block;
}

.inicio img {
    width: 100%;
    height: 100%;
    display: block;
}

.inicio p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10dvh;
    color: #fff;
}

.conocenos {
    width: 40dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.conocenos p{
    justify-content: center;
}

.lugares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #000;
    gap: 10px;
}

.lugares img {
    margin: auto;
    width: 50%;
}

.lugar {
    background-color: var(--navbar-color);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lugares button {
    width: 50%;
    margin: auto;
}

.footer {
    height: 80dvh;
    width: 100%;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.footer img {
    width: 100%;
    height: 100%;
    display: block;
}

.footer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}


@media screen and (max-width: 800px) {
    .inicio p {
        font-size: 5dvw;
    }
}