* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color-principal: #af2;
    --bg-color: #fff;
    --text-color: #222;

    background-color: var(--bg-color);
    color: var(--text-color);
}

/*----- NAVBAR -----*/

.navbar {
    background-color: #ffffbf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12dvh;
    position: sticky;
    top: 0;
}

.logo {
    width: 70px;
    height: 70px;
}

.navbar-link {
    margin: auto;
    text-decoration: none;
    color: var(--text-color);
}

.navbar-img {
    width: 50px;
}


/*----- HEADER -----*/

.header {
    text-align: center;
}

.header a {
    text-decoration: none;
}

.header-img {
    width: 40dvw;
}

/* ----- PRESENTACION -----*/

.informacion {
    margin: 15px;
}

.informacion h2 {
    text-align: center;
}

.informacion p {
    width: 60dvw;
}

/*----- HORARIOS -----*/

.horarios {
    margin: 10px;
    width: 32dvw;
    margin: auto;
}


/*----- MENU ------*/

.menu {
    background-color: #6d6552;
    color: #fff;
    margin: 5px;
}

.menu li {
    margin: 10px;
}

/*----- FOTOS ------*/

.fotos {
    margin: 15px;
}

.fotos-img {
    width: 30dvw;
}


/*---- FOOTER -----*/

.footer {
    background-color: #44403b;
    height: 7dvh;
    justify-content: center;
    text-align: center;
    align-items: center;
}