* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background:#0f172a;
    color:white;
}

.navbar {
    height: 40px;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-link {
    text-decoration: none;
    margin: auto;
    color: #eee;
}


.info {
    width: min(700px, 90%);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.contacto a{
    margin: 3px;
    color: #999;
}


.tecnologias {
    margin-top: 10px;
    text-align: center;
}

.tecnologias img {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

.proyectos {
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card {
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 200px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 1px 1px #aaa;
    background: #111;
    border-radius: 15px;
    padding: 20px;
    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card a {
    text-decoration: none;
}

.card-img {
    margin-top: 5px;
    width: 60px;
}

.footer {
    background-color: #000;
    padding: 30px;
    color: #fff;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.footer p {
    margin: 0;
}

@media(max-width:600px){

    .info{
        flex-direction:column;
        text-align:center;
    }

}